// - ohm theme colours:

//Better variables
$link  : green;
$linkhover : blue;
$h2_colour :red; //is also table header, comment instruct
$h_hover_colour: purple;
$fontcolour: #222222;
$oddrow: pink;
$markerbak:#52b1ea;
$bakcolour: #ddd;
$bordercolour: #6a7076;
$buttonbak: #4a993e;
$buttonbak2: #b33630;
$msgs:#d6c460;
$linkactive: #FFFFFF;   //Is this correct?
$msgs     : #d6c460;